{% extends 'base.html' %}

{% block header_text %}Select a To-Do list {% endblock %}
{% block body %}
<div>
               <form action="{% url "new_list" %}" method="POST">

                    {% for field in form.visible_fields %}
			        <div class="form-group">

			                {% if field.errors %}<div class="alert alert-danger" role="alert">{{ field.errors.as_text }}</div>{% endif %}

			        </div>
			    {% endfor %}

                     {{form.as_p}}
                    {% csrf_token %}

                </form>
    </div>

<div class="table-responsive">
    <table class="table table-striped" name="tabla">
        <tr>
            <th>Tittle</th>
        </tr>

            {% for list in lists %}
        <tr>
                <td>{{list.name}}</td>
             <td>
                <div class="btn-group">
                    <a class="btn btn-success" name="view" href="#" onclick="window.location='{% url "view_list" pk=list.id %}'">
                        <i class="icon_check_alt2"></i>View
                    </a>
                    </div>
            </td>
     </tr>
        {% endfor %}

    </table>
    </div>
{% endblock %}